body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* header {
	font-size: 24px;
	font-weight: bold;
	border: 1px solid red;
	display: flex;
	justify-content: space-between;
} */

.container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.about-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.about-main {
	width: 250px;
	margin: 40px;
}

.portfolio-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
